.div__side-menu{
  grid-row: 1 / 3;
  grid-column: 1 / 2;

  .img__logo {
      width: 100px;
      margin-bottom: 15px;
  }

  .div__menu-container{
    .side-menu-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 20px;
      cursor: pointer;
      width: fit-content;
      text-decoration: none;
      color: #fff;

      .side-menu-icon {
        width: 25px;
        margin-right: 15px;
      }
  
      .side-menu-text {
        margin: 0;
      }
    }
}

  .div__share-form {
    display: flex;
    flex-direction: column;

    .p__share-form-header {
      margin-top: 0;
      margin-bottom: 10px;
    }

    .textarea__share-form {
      padding: 10px;
      color: #fff;
      width: 300px;
      height: 150px;
      background-color: transparent;
      border-radius: 10px;
      resize: none;
      margin-bottom: 10px;
    }

    .button__share-form {
      align-self: end;
      margin-top: 15px;
    }
  }
}

@media screen and (max-width : 768px) {
  .div__side-menu{
    margin-bottom: 20px;

    .div__menu-container {
      display: flex;
      flex-direction: row;
      justify-content: end;
  
      .side-menu-item {
        margin-left: 15px;
  
        .side-menu-icon {
          display: none;
        }
  
        .side-menu-text {
          font-size: 0.9rem;
        }
      }
    }

    .div__share-form {
      .textarea__share-form {
        width: 100%;
      }
    }
  }
}