body {
  background: #17202a;
  color: #fff;
  padding: 20px;
}

.div__main{
  display: grid;
  grid-template-rows: 60px auto;
  grid-template-columns: 300px auto;

  .menu-icon{
    width: 25px;
    cursor: pointer;
  }

  .header-menu{
    background-color: transparent;
    color: #fff;
    border: none;
    margin: 0 5px;
    text-decoration: none;
    cursor: pointer;
  }

  .submit-button{
    background-color: #4D1DD1;
    color: #fff;
    border: 2px outset #000;
    display: inline-block;
    width: 100px;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
  }

  .form-input{
    width: 90%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
  }
}